<h1 class="text-center">New entity</h1>
<div class="text-center mt-4">
<%= render "entities/form", {entity: @entity, category: @category} %>

</div>

<br>
<div class="text-center ms-4 mt-4">
  <%= link_to "Back to entities", category_entities_path(@category), class:"btn btn-primary"
 %>
</div>
