/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

.nav {
  text-decoration: none;
  font-size: larger;
  font-weight: 500;
  margin-right: 3rem;
}

.navbar-end {
  padding: 5px;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

$bootstrap-blue-shades: (
  "dark": #3778c2
);

$bootstrap-dark-shades: (
  "light": #434b54
);

.bg-dark-blue {
  background-color: map-get($bootstrap-blue-shades, "dark");
}

.btn-dark-blue {
  background-color: map-get($bootstrap-blue-shades, "dark");
  color: #ffff;
}

.text-dark-light {
  color: map-get($bootstrap-dark-shades, "light");
}

$button-color: #f76957;
$button-hover-color: #f76957;
$button-active-color: #f76957;
$button-text-color: #f76957;
$button-hover-text-color: white;
$button-active-text-color: white;
$button-border-color: #f76957;
$button-hover-border-color: #f76957;
$button-active-border-color: #f76957;
$button-focus-border-color: #f76957;
$button-focus-text-color: white;
$button-focus-background-color: #f76957;
$button-focus-box-shadow: 0 0 0 0.125em rgba(247, 105, 87, 0.25);

.button.is-save {
  background-color: transparent;
  font-weight: bold;
  color: $button-text-color;
  border: 2px solid $button-border-color;

  &:hover {
    background-color: $button-hover-color;
    color: $button-hover-text-color;
    border-color: $button-hover-border-color;
  }

  &:active {
    background-color: $button-active-color;
    color: $button-active-text-color;
    border-color: $button-active-border-color;
  }

  &:focus {
    border-color: $button-focus-border-color;
    color: $button-focus-text-color;
    background-color: $button-focus-background-color;
    box-shadow: $button-focus-box-shadow;
  }
}

.fa-arrow-left {
  color: #ffff;
  font-size: large;
  margin-top: 3px;
}

.image-container {
  height: 100px;

  /* set the desired height */
  overflow: hidden;

  /* hide any overflow */
}

.image-height {
  height: 100%;

  /* set the height of the image to 100% of the container */
  width: 100%;

  /* maintain the aspect ratio of the image */
}

.main {
  margin: 10px;
  color: #434b54;
}

.trash {
  background-color: transparent;
  border: none;
  margin-left: auto;
}

$green: #60B524;

.bg-green {
  background-color: $green;
}