<div id="<%= dom_id category %>">
  <div class="card">
    <div class="media-left">
      <figure class="is-128x10 m-4" >
        <%= image_tag(category.image) %>
      </figure>
    </div>
    <div class="media-content m-4">
      <strong> <%= category.name %></strong>
      <p class="is-small"> <%= category.created_at.strftime('%d %b %Y') %></p>
    </div>
  </div>
</div>
<footer></footer>