<h1 class="text-center">New category</h1>
<div class="text-center"
>
<%= render "form", category: @category %>

</div>


<br>

<div class="text-center ms-4">
  <%= link_to "Back to categories", categories_path, class:"btn btn-primary"
%>
</div>
